name: cicd-demo
on:
  push:
    branches:
      - '*'
jobs:
  build-job:
    name: Build Job
    runs-on: ubuntu-latest
    
    steps:
    - name: 'Start build job'
      run: |
        echo "Starting the build job"
    - name: 'Checkout'
      uses: actions/checkout@v6.0.2
    - name: 'Setup Java JDK'
      uses: actions/setup-java@v5.2.0
      with:
        java-version: 11
    - name: 'Check Java Version'
      run: |
        java --version